@font-face {
  font-family: "kaushan";
  src: url(./ressources/font-family/KaushanScript-Regular.otf);
}
body {
  background: rgb(62, 61, 61);
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "kaushan";
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(255, 254, 252);
  display: flex;
  align-items: center;
}

h2 {
  margin: 0;
  font-size: 2.5em;
  color: rgb(255, 254, 252);
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -webkit-transition: all 20s ease-in-out;
  }
  to {
    -webkit-transform: rotate(360deg);
    -webkit-transition: all 20s ease-in-out;
  }
}
.logo-title {
  width: 2em;
  height: 2em;
}

.photo {
  width: 10em;
  height: 10em;
  border-radius: 5em;
}

.logo-phone {
  width: 1em;
  height: 1em;
  -webkit-animation: rotating 3s linear infinite;
}
.logo-phone:hover {
  animation-play-state: paused;
}

.social-logo {
  width: 2em;
  height: 2em;
  -webkit-animation: rotating 3s linear infinite;
}
.social-logo:hover {
  animation-play-state: paused;
}

header {
  display: flex;
  justify-content: center;
}
header .logo-div {
  display: flex;
  justify-content: center;
  background: rgb(98, 96, 96);
  width: 25em;
  height: 10em;
  align-items: center;
  border-radius: 50%;
}
header .logo-div h1 {
  color: rgb(255, 254, 252);
  text-align: center;
}
header .logo-div p {
  text-align: center;
}

.menu {
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.menu ul {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  background: black;
  border-radius: 1em;
  height: 2em;
  align-items: center;
}
.menu ul li {
  display: flex;
}
.menu ul li:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: all 1.5s;
}

.presentation-section {
  background: rgb(98, 96, 96);
  display: flex;
  justify-content: center;
  border-radius: 1em;
  margin: 20px 5px 20px 5px;
  color: rgb(255, 254, 252);
  flex-direction: column;
  align-items: center;
}
.presentation-section .presentation-div {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  align-items: center;
}
.presentation-section .presentation-div h2 {
  text-align: center;
  font-size: 4em;
}
.presentation-section .presentation-div .presentation-information {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
.presentation-section .presentation-div .presentation-information p {
  margin: 0;
  margin-right: 10px;
  font-size: 1.5em;
  display: flex;
}

.contact {
  background: rgb(188, 186, 186);
  font-size: 1.2em;
  border-radius: 1em;
  width: 5em;
  height: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.contact:hover {
  background: rgb(174, 157, 157);
  color: aqua;
  transition: ease-in-out 1.5s;
}

footer {
  border-radius: 1em;
  margin: 20px 5px 20px 5px;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .social {
  margin-top: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
