@font-face {
  font-family:"kaushan";
  src: url(./ressources/font-family/KaushanScript-Regular.otf);
}
@font-face {
  font-family: "cooper";
  src: url(./ressources/font-family/CooperHewitt-Heavy.otf);
}
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  }
  ::-webkit-scrollbar-track-piece  {
  background-color:rgb(255, 254, 252);
  }
  ::-webkit-scrollbar-thumb {
  height: 30px;
  background-color: black;
  -webkit-border-radius: 1ex;
  }
  
body {
  font-family: "cooper", "Arial", "Helvetica", "sans-serif";
  background-image: url("./ressources/img/otricom-developpement-application-mobile-web-1024x576.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  min-width: 320px;
 
  display: flex;
  flex-direction: column;
}
h1 {
  font-family: "kaushan", "Arial", "Helvetica", "sans-serif";
  margin: 0;
  font-size: 2.5em;

}
li {
  list-style-type: none;
  
}
a {
  text-decoration: none;
  color: rgb(255, 254, 252);
  display: flex;
  align-items: center;
  font-size: 1.3em;
}
h2 {
  margin: 0;
  font-size: 2.3em;
  color: rgb(255, 254, 252);
}
h3 {
  margin: 0;
  font-size: 2em;
  color: rgb(255, 254, 252);
}
h4 {
  margin: 0;
  font-size: 1.8em;
  color: rgb(255, 254, 252);
}
p{
  color: rgb(255, 254, 252);
  font-size: 1.5em;
  margin: 0;
}

//version mobile
@media only screen and (max-width: 366px){
h1 {
  font-size: 2.1em;
}
h2{
  font-size: 1.8em;
}
h3{
  font-size: 1.5em;
}
h4{
  font-size:1.3em
}
a{
  font-size: 1em;
}
p{
  font-size: 1em;
}
} 