@font-face {
  font-family:"kaushan";
  src: url(./ressources/font-family/KaushanScript-Regular.otf);
}
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  }
  ::-webkit-scrollbar-track-piece  {
  background-color:rgb(255, 254, 252);
  }
  ::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: black;
  -webkit-border-radius: 1ex;
  }
  
body {
  background: rgb(62, 61, 61);
  margin: 0;
  padding: 0;
  min-width: 320px;
 
  display: flex;
  flex-direction: column;
}
h1 {
  font-family: "kaushan";
  margin: 0;
  font-size: 2.5em;

}
li {
  list-style-type: none;
  
}
a {
  text-decoration: none;
  color: rgb(255, 254, 252);
  display: flex;
  align-items: center;
  font-size: 1.5em;
}
h2 {
  margin: 0;
  font-size: 2.3em;
  color: rgb(255, 254, 252);
}
h3 {
  margin: 0;
  font-size: 2em;
  color: rgb(255, 254, 252);
}
h4 {
  margin: 0;
  font-size: 1.8em;
  color: rgb(255, 254, 252);
}
p{
  color: rgb(255, 254, 252);
  font-size: 1.5em;
}

//version mobile
@media only screen and (max-width: 352px){
h1 {
  font-size: 2.1em;
}
h2{
  font-size: 1.8em;
}
h3{
  font-size: 1.5em;
}
h4{
  font-size:1.3em
}
a{
  font-size: 1em;
}
p{
  font-size: 1em;
}
} 