@font-face {
  font-family:"kaushan";
  src: url(./ressources/font-family/kaushan-script/KaushanScript-Regular.otf);
}
body {
  background: rgb(62, 61, 61);
}
h1 {
  font-family: "kaushan";
  margin: 0;
  
}
