
header{
  margin: 10px 5px 10px 5px;
  display: flex;
  justify-content: center;
  
  .logo-div {
    display: flex;
    justify-content: center;
    background: rgb(98, 96, 96);
    width: 25em;
    height: 15em;
    align-items: center;
    border-radius: 50%;
    h1{
      color: rgb(255, 254, 252);
      text-align: center;
    }
    p {
      text-align: center;
    }
  }


}
//version mobile 
