.skills{
  display: flex;
  flex-direction: column;
  align-items: center;
  .all-skills{
    margin: 10px 0 10px 0;
    display: flex;
    
    width: 100%;
    justify-content: space-evenly;
  
  .technical-skills{
    // height: 450px;
    width: 40%;
    display: flex;
    flex-direction: column;
    background: rgb(98, 96, 96);
    border-radius: 1.5em;
    align-items: center;
    .all-logo{
      margin: 10px 0 10px 0;
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
  }
  .soft-skills{
    justify-content:space-around ;
    width: 40%;
    display: flex;
    flex-direction: column;
    background: rgb(98, 96, 96);
    border-radius: 1.5em;
    align-items: center;
    // height: 300px;
    .all-logo{
      height: 80%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .logo-soft{
        display: flex;
        height: 20%;
        width: 80%;
        justify-content: space-evenly;
        .logo-softs{
          height: 100%;
          width: 25%;
        }
        .information{
          height: 100%;
          display: flex;
          justify-content: space-between;
          width: 70%;
          align-items: center;
          h4{
            margin: 0;
          }
        }
      }
    }
    
  }
 
  }}
  @media only screen and (max-width: 1000px) {
    .all-skills{
      
      flex-direction: column;
      width: 97% !important;
      .technical-skills{
width: 100% !important;
      }
      .soft-skills{
        width: 100% !important;
        margin-top: 20px !important;
        height: 200px;
        .logo-soft{
          height: 30px !important;
          width: 70% !important;
        }
      }
    }
  }