.web { 
  height: 1700px;
  align-self: center;
  width: 97%;
  margin: 20px 0 20px 0;
  background: rgb(98, 96, 96);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5em;
  h2{
    height: 5%;
    display: flex;
    align-items: center;
  }
  .all-sites{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-content: space-around;
    .site{
      background: black;
      width: 35%;
      height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 1.5em;
      a{
        height: 85%;
        width: 100%;
        img{
          height: 100%;
          width: 100%;
          border-radius: 1.1em 1.1em 0 0;
           object-fit: cover;
        }
      }
      .information-site{
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
    }
  }
}
@media only screen and (max-width: 640px){
  .web {
    height: 1000px;
    display: flex;
    flex-direction: column;
    .all-sites{
      flex-direction: column !important;
       flex-wrap: nowrap ;
       align-items: center;
       .site{
         flex-direction: row;
         width: 99%;
         height: 150px;
         a{
           height: 100%;
           width: 60%;
           img{
            border-radius: 1em 0 0 1.1em;
           }
         }
         .information-site{
           height: 100%;
           width: 40%;
           flex-wrap: wrap;
           h3{
             font-size: 1.2em;
             text-align: center;
           }
           p{
             text-align: center;
             font-size: 0.8em;
           }
         }
       }
    }
  }
}
@media only screen and (min-width: 641px) and (max-width: 1000px) {
  .web{
    height: 800px !important;
  .site{
    height: 200px !important;
    width: 45% !important;
a{
  height: 70% !important;
}
.information-site{
  height: 30% !important;
  h3{
    font-size: 1.6em !important;
  }
  p{
    font-size: 1.2em !important;
  }
}
  }
}
}