@keyframes moove-top1{
  0% {
    opacity: 0;
    transition: 400ms;
    transform: scale(0) rotate(0deg);
}
100% {
    opacity: 1;
    transition: 400ms;
    transform : scale(1) rotate(360deg)
}
}
@keyframes moove-top-logo{
  0% {
    opacity: 0;
    transition: 1600ms;
    transform: translateY(-2000px);
}
100% {
    opacity: 1;
    transition: 1600ms;
}
}
@keyframes moove-top2{
  0% {
    opacity: 0;
    transition: 4000ms;
    transform: scale(0) rotate(0deg);
}
100% {
    opacity: 1;
    transition: 4000ms;
    transform: scale(1) rotate(-360deg);
}
}
@keyframes moove-top-soft{
  0% {
    opacity: 0;
    transition: 1600ms;
    transform: translateY(2000px);
}
100% {
    opacity: 1;
    transition: 1600ms;
}
}
@keyframes site {
  0%{
opacity: 0;
transform: scale(0);
transition: 500ms;
  }
  100% {
opacity: 1;
transform: scale(1);
transition: 500ms;
  }
}
@keyframes first {
  0% {
    opacity: 1;
    // transition:  5000ms;
  }
  100% {
    opacity: 0;
    // transition: 15000ms;
  }
  
}
@keyframes second {
  0% {
    transition: 600ms;
    transform: translateX(-2000px);
  }
  100%{
    transition: 600ms;
   
  }}
  @keyframes third {
    0% {
      transition: 800ms;
      transform: translateX(-4000px);
    }
    100%{
      transition: 800ms;
     
    }
  
}
.load-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  z-index: 5;
  background-image: linear-gradient(#000000 40%, #3b3b3c 60%);
  width: 100%;
  height: 100%;
  animation: first 5s linear forwards ;
  -moz-animation: first 5s linear forwards;
  -webkit-animation: first 5s linear forwards;
  -o-animation: first 5s linear forwards;
  pointer-events: none;
}
.logo-skill {
  animation: moove-top-logo 2.5s;
    -moz-animation: moove-top-logo 2.5s;
    -webkit-animation: moove-top-logo 2.5s;
    -o-animation: move-top-logo 2.5s;
}
.technical-skills {
  animation: moove-top1 2.5s;
    -moz-animation: moove-top1 2.5s;
    -webkit-animation: moove-top1 2.5s;
    -o-animation: move-top1 2.5s;
}
.soft-skills {
  animation: moove-top2 3.5s;
    -moz-animation: moove-top2 3.5s;
    -webkit-animation: moove-top2 3.5s;
    -o-animation: move-top2 3.5s;
}
.logo-soft{
  animation: moove-top-soft 3.5s;
  -moz-animation: moove-top-soft 3.5s;
  -webkit-animation: moove-top-soft 3.5s;
  -o-animation: move-top-soft 3.5s;
}
.reservia {
  animation:site 1.5s;
  -moz-animation: site 1.5s;
  -webkit-animation: site 1.5s;
  -o-animation: site 1.5s;
}
.ohmyfood {
  animation:site 2s;
  -moz-animation: site 2s;
  -webkit-animation: site 2s;
  -o-animation: site 2s;
}
.burst-bubble{
  animation:site 2.5s;
  -moz-animation: site 2.5s;
  -webkit-animation: site 2.5s;
  -o-animation: site 2.5s;
}
.la-chouette-agence {
  animation:site 3s;
  -moz-animation: site 3s;
  -webkit-animation: site 3s;
  -o-animation: site 3s;
}
.crazy-grill{
  animation:site 3.5s;
  -moz-animation: site 3.5s;
  -webkit-animation: site 3.5s;
  -o-animation: site 3.5s;

}
@media only screen and (max-width: 750px){
  @keyframes moove-left {
    0%{
      opacity: 0;
      transition: 1600ms;
      transform: translateX(-2000px);
    }
    100% {
      opacity: 1;
      transition: 1600ms;
  }
    
  }
  .technical-skills {
    animation: moove-left 2.5s;
      -moz-animation: moove-left 2.5s;
      -webkit-animation: moove-left 2.5s;
      -o-animation: move-left 2.5s;
  }
  @keyframes moove-right {
    0%{
      opacity: 0;
      transition: 1600ms;
      transform: translateX(2000px);
    }
    100% {
      opacity: 1;
      transition: 1600ms;
  }
    
  }
  .soft-skills{
    animation: moove-right 3.5s;
    -moz-animation: moove-right 3.5s;
    -webkit-animation: moove-right 3.5s;
    -o-animation: move-right 3.5s;
  }
}
